<div class="background">
<section id="experience">
    <div class="container">
        <h2>Experiencia Laboral en Prácticas</h2>

        <div class="experience-item">
            <h3 class="company-name">Reset Montilla Informática</h3>
            <p class="job-title">Técnico Informático</p>
            <p class="job-dates">Marzo 2022 - Junio 2022</p>
        </div>

        <div class="experience-item">
            <h3 class="company-name">Deuser Córdoba</h3>
            <p class="job-title">Técnico del Departamento de Calidad</p>
            <p class="job-dates">Marzo 2024 - Junio 2024</p>
        </div>
    </div>
</section></div>