<div class="bg-main text-light py-5" id="experience">
    <section class="fade-in">
        <div class="container">
            <h2 class="section-header border-bottom border-accent pb-2 mb-4 fs-4">
                Experiencia Laboral en Prácticas
            </h2>

            <!-- Reset Informática -->
            <div class="experience-item slide-down">
                <h3 class="text-light mb-1">Reset Informática Montilla</h3>
                <p class="text-accent fw-semibold mb-0">Técnico Informático</p>
                <p class="text-light-50">
                    Mantenimiento preventivo y correctivo de equipos informáticos.
                    Realicé reparación de equipos de clientes, migración de sus datos a la base de datos de la empresa y
                    gestión de la
                    logística asociada al proceso técnico.
                </p>
                <p class="text-light-50">Marzo 2022 - Junio 2022</p>
            </div>

            <!-- Deuser Córdoba -->
            <div class="experience-item slide-down">
                <h3 class="text-light mb-1">Deuser Córdoba</h3>
                <p class="text-accent fw-semibold mb-0">Técnico del Departamento de Calidad</p>
                <p class="text-light-50">
                    Uso de Power Apps, Power Automate y SharePoint con el dpto. de calidad.
                    Diseñé y desarrollé una solución empresarial con Power Apps y Power Automate para gestionar equipos
                    de trabajo en
                    proyectos, automatizando la creación de grupos en Microsoft Teams y la asignación de roles como
                    Project Manager,
                    responsables y técnicos. Integré un bot corporativo para centralizar documentos, normativas e
                    información clave de la
                    empresa. Además, contribuí a la mejora continua de aplicaciones internas existentes, optimizando
                    procesos y usabilidad.
                </p>
                <p class="text-light-50">Marzo 2024 - Junio 2024</p>
            </div>

            <!-- Ciscon Ingeniería S.L -->
            <div class="experience-item slide-down">
                <h3 class="text-light mb-1">Ciscon Ingeniería S.L</h3>
                <p class="text-accent fw-semibold mb-0">Desarrollador Web</p>
                <p class="text-light-50">
                    Desarrollé una nueva versión de la aplicación <strong>MartinCloud</strong> utilizando React.
                    Rediseñé e implementé componentes
                    modernos y genéricos que permitieron mejorar tanto la funcionalidad como la mantenibilidad del
                    sistema, optimizando la
                    estructura del código para una renderización eficiente y reutilizable.
                </p>
                <p class="text-light-50">Marzo 2025 - Junio 2025</p>
            </div>
        </div>
    </section>
</div>