<section id="studies">
    <h2>Estudios y Certificados</h2>

    <div class="study-item">
        <h3>Técnico en Sistemas Microinformáticos y Redes (SMR)</h3>
        <p>Instituto: IES Inca Garcilaso, Montilla, Córdoba</p>
        <p>Periodo: septiembre 2020 - junio 2022</p>
    </div>

    <div class="study-item">
        <h3>Técnico Superior en Desarrollo de Aplicaciones Multiplataforma (DAM)</h3>
        <p>Instituto: IES Francisco de los Ríos, Fernán Núñez, Córdoba</p>
        <p>Periodo: septiembre 2022 - junio 2024</p>
    </div>

    <div class="study-item">
        <h3>Curso de SQL Online</h3>
        <p>Periodo: abril 2021</p>
    </div>

    <div class="study-item">
        <h3>Curso en SharePoint, Power App y Power Automate</h3>
        <p>Periodo: abril 2024 - mayo 2024</p>
    </div>
</section>