<section id="studies">
    <h2><i class="fas fa-graduation-cap"></i> Estudios y Certificados</h2>

    <div class="study-item">
        <h3><i class="fas fa-laptop-code"></i> Técnico en Sistemas Microinformáticos y Redes (SMR)</h3>
        <p><i class="fas fa-school"></i> Instituto: IES Inca Garcilaso, Montilla, Córdoba</p>
        <p><i class="fas fa-calendar-alt"></i> Periodo: septiembre 2020 - junio 2022</p>
    </div>

    <div class="study-item">
        <h3><i class="fas fa-mobile-alt"></i> Técnico Superior en Desarrollo de Aplicaciones Multiplataforma (DAM)</h3>
        <p><i class="fas fa-school"></i> Instituto: IES Francisco de los Ríos, Fernán Núñez, Córdoba</p>
        <p><i class="fas fa-calendar-alt"></i> Periodo: septiembre 2022 - junio 2024</p>
    </div>

    <div class="study-item">
        <h3><i class="fas fa-database"></i> Curso de SQL Online</h3>
        <p><i class="fas fa-calendar-alt"></i> Periodo: abril 2021</p>
    </div>

    <div class="study-item">
        <h3><i class="fas fa-network-wired"></i> Curso en SharePoint, Power App y Power Automate</h3>
        <p><i class="fas fa-calendar-alt"></i> Periodo: abril 2024 - mayo 2024</p>
    </div>
</section>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />