<section id="projects">
    <div class="container">
        <h2>Proyectos</h2>

        <!-- Protaller Project -->
        <div class="project-item">
            <h3>Protaller</h3>
            <div class="project-content">
                <p>Protaller es una aplicación diseñada para la gestión integral de talleres mecánicos. Permite a los
                    talleres mantener un registro organizado de clientes y vehículos, generando formularios y facturas
                    de manera eficiente. Además, la app incluye funcionalidades para asignar tareas a los trabajadores,
                    registrar horas de trabajo en los vehículos y facilitar la ubicación de talleres mediante rastreo
                    GPS, brindando a los clientes acceso a un registro detallado de los servicios realizados en sus
                    vehículos. Protaller está desarrollado en Angular y utiliza una base de datos en Spring Boot.</p>
            </div>
            <div class="project-links">
                <a href="https://drive.google.com/file/d/1k2yPTV7oz8OscxjUHwHCTJ66Cc2FKh--/view?usp=sharing" class="project-video-link">Video del proyecto</a>
                <a href="https://github.com/Alelopmay/Protaller" class="project-github">GitHub de el frontend</a>
                <a href="https://github.com/Alelopmay/protallerback" class="project-github">GitHub de el backend</a>
            </div>
        </div>

        <!-- TutorialHub Project -->
        <div class="project-item">
            <h3>TutorialHub</h3>
            <div class="project-content">
                <p>TutorialHub es una plataforma para la gestión de clases particulares, donde los profesores pueden
                    publicar y organizar clases con ubicación GPS. Los estudiantes pueden explorar clases por categoría
                    y proximidad, enviar solicitudes de inscripción y valorar a los profesores. Los docentes pueden
                    asignar tareas y actividades específicas, que los estudiantes pueden completar y visualizar en su
                    perfil. Esta app, desarrollada en Angular y Spring Boot, organiza toda la información de las clases,
                    facilitando una experiencia de aprendizaje flexible y accesible.</p>
            </div>
            <div class="project-links">
                <a href="https://drive.google.com/file/d/1yC5KsmyWCg1Wc6vE8AdvMeNDkD2UXA6C/view?usp=drive_link"
                    class="project-video-link">Video del proyecto</a>
                <a href="https://github.com/Alelopmay/tutorialHub2" class="project-github">GitHub de el frontend</a>
                <a href="https://github.com/JoseJavier1801/TutorialHub" class="project-github">GitHub de el backend</a>
            </div>
        </div>

        <!-- SwimTrack Project -->
        <div class="project-item">
            <h3>SwimTrack</h3>
            <div class="project-content">
                <p>SwimTrack es una aplicación para monitores de natación, diseñada para gestionar el rendimiento de los
                    nadadores. Los monitores pueden crear y gestionar perfiles de nadadores, registrar resultados de
                    pruebas de competición y hacer un seguimiento de la evolución en el rendimiento de cada deportista.
                    También permite organizar entrenamientos y competiciones, y cuenta con una agenda para planificar
                    eventos. SwimTrack está desarrollada en Ionic y utiliza Spring Boot para su base de datos.</p>
            </div>
            <div class="project-links">
                <a href="https://drive.google.com/file/d/1xpVmRtfpivB1FaXuRjK5JbVuaRJIkp0Z/view?usp=drive_link" class="project-video-link">Video del proyecto</a>
            </div>
        </div>

        <!-- Spotyfy Project -->
        <div class="project-item">
            <h3>Spotyfy</h3>
            <div class="project-content">
                <p>Spotyfy es una aplicación educativa para practicar tecnologías de reproducción musical y bases de
                    datos. Este proyecto permite la implementación de funcionalidades básicas de streaming de música y
                    el aprendizaje en gestión de datos multimedia. La aplicación fue desarrollada en Java y FXML como
                    parte de una práctica avanzada de desarrollo de software.</p>
                <div class="project-links">
                    <a href="https://github.com/rafa30052003/proyectoSpoty" class="project-github">GitHub del
                        proyecto</a>
                </div>
            </div>
        </div>
        <!-- ClínicaPro Project -->
        <div class="project-item">
            <h3>ClínicaPro</h3>
            <div class="project-content">
                <p>ClínicaPro es una innovadora aplicación diseñada para optimizar la gestión integral de clínicas de
                    fisioterapia. Esta herramienta permite a las empresas administrar de forma eficiente clientes, empleados y
                    citas médicas, asegurando un flujo de trabajo organizado y sin contratiempos. ClínicaPro también facilita el
                    manejo de datos esenciales para el día a día de la clínica, desde la programación de sesiones hasta el
                    seguimiento de tratamientos, ofreciendo una experiencia fluida tanto para el personal como para los
                    pacientes. Desarrollada con tecnologías modernas, su interfaz intuitiva y robusta garantiza un control
                    administrativo avanzado. El proyecto fue desarrollado en Angular para el frontend y Spring Boot para el backend.</p>
            </div>
            <div class="project-links">
                <a href="https://github.com/Alelopmay/clinicay" class="project-github">GitHub del frontend</a>
                <a href="https://github.com/Alelopmay/clinicBack" class="project-github">GitHub del backend</a>
            </div>
        </div>
        <!-- ClínicaPro Project -->
        <div class="project-item">
            <h3>EquipFix</h3>
            <div class="project-content">
                <p>EquipFix es una aplicación desarrollada en React con una base de datos en Spring Boot, diseñada para gestionar el
                mantenimiento de equipos informáticos, industriales y eléctricos. Permite llevar un registro detallado de los equipos,
                generar informes y gestionar su ubicación para facilitar las revisiones. Su objetivo es optimizar el seguimiento del
                mantenimiento en las empresas, asegurando que los trabajadores estén siempre informados sobre el estado y la
                localización de los equipos.</p>
            </div>
            <div class="project-links">
               
            </div>
        </div>


    </div>
</section>