<div class="background">
    <header>
        <div class="container header-content">
            <div class="profile-photo">
                <img src="assets/photo/foto.jpeg" alt="Foto de Alejandro López Maya" />
            </div>
            <div class="header-text">
                <h1>Alejandro López Maya</h1>
                <p> Técnico en sistemas informáticos y desarrollador de aplicaciones multiplataforma, Especializado en Angular y spring boot</p>
            </div>
        </div>
    </header>

    <section id="personal-info">
        <div class="container">
            <h2>Datos Personales</h2>
            <ul class="personal-info-list">
                <li><strong>Nombre:</strong> Alejandro López Maya</li>
                <li>Email: <a href="mailto:alelopmay&#64;gmail.com">alelopmay&#64;gmail.com</a></li>
                <li><strong>Teléfono:</strong> 644898740</li>
                <li>
                    <strong>LinkedIn:</strong>
                    <a href="https://www.linkedin.com/in/alejandro-lopez-maya-39a7b5263" target="_blank">Mi LinkedIn</a>
                </li>
                <li><strong>Permiso de Conducir:</strong> B</li>
            </ul>
        </div>
    </section>

    <!-- Nueva sección de perfil personal -->
    <section id="personal-profile">
        <div class="container">
            <h2>Perfil Personal</h2>
            <p>
                Soy una persona centrada, organizada y con capacidad de adaptación para enfrentar diversas situaciones.
                Trabajo bien en equipo, tengo capacidad de liderazgo y me esfuerzo por aportar positivamente en todos
                los
                proyectos en los que participo.
            </p>
        </div>
    </section>

    <section id="hobbies">
        <div class="container">
            <h2>Aficiones</h2>
            <p>
                Disfruto de aprender sobre nuevas tecnologías, el desarrollo de software y el trabajo en proyectos
                colaborativos. También me interesa la lectura sobre ciencia y tecnología, así como actividades al aire
                libre.
            </p>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Alejandro López Maya. Todos los derechos reservados.</p>
        </div>
    </footer>
</div>

