<section id="tools">
    <div class="container">
        <h2>Herramientas y Lenguajes Conocidos y utilizados </h2>
      

        <div class="category">
            <h3>Lenguajes de Programación</h3>
            <div class="tools-list">
                <div class="tool-item">
                    <img src="assets/photo/html.png" alt="HTML" class="tool-icon">
                    <span>HTML</span>
                </div>
                <div class="tool-item">
                    <img src="assets/photo/css.png" alt="CSS" class="tool-icon">
                    <span>CSS</span>
                </div>
                <div class="tool-item">
                    <img src="assets/photo/JavaScript.png" alt="JavaScript" class="tool-icon">
                    <span>JavaScript</span>
                </div>
                <div class="tool-item">
                    <img src="assets/photo/java.png" alt="Java" class="tool-icon">
                    <span>Java</span>
                </div>
                <div class="tool-item">
                    <img src="assets/photo/Python.png" alt="Python" class="tool-icon">
                    <span>Python</span>
                </div>
                <div class="tool-item">
                    <img src="assets/photo/c.png" alt="C" class="tool-icon">
                    <span>C</span>
                </div>
                
                <div class="tool-item">
                    <img src="assets/photo/sql.png" alt="SQL" class="tool-icon">
                    <span>SQL</span>
                </div>
                <div class="tool-item">
                    <img src="assets/photo/php.png" alt="php" class="tool-icon">
                    <span>php</span>
                </div>
            </div>
        </div>

        <div class="category">
            <h3>Entornos de Desarrollo</h3>
            <div class="tools-list">
                <div class="tool-item">
                    <img src="assets/photo/vscode.png" alt="Visual Studio Code" class="tool-icon">
                    <span>Visual Studio Code</span>
                </div>
                <div class="tool-item">
                    <img src="assets/photo/intellij.png" alt="IntelliJ IDEA" class="tool-icon">
                    <span>IntelliJ IDEA</span>
                </div>
                <div class="tool-item">
                    <img src="assets/photo/androidstudio.png" alt="Android Studio" class="tool-icon">
                    <span>Android Studio</span>
                </div>
                <div class="tool-item">
                    <img src="assets/photo/eclipse.png" alt="Eclipse" class="tool-icon">
                    <span>Eclipse</span>
                </div>
            </div>
        </div>

    <div class="category">
        <h3>Frameworks</h3>
        <div class="tools-list">
            <div class="tool-item">
                <img src="assets/photo/angular.png" alt="Angular" class="tool-icon">
                <span>Angular</span>
            </div>
            <div class="tool-item">
                <img src="assets/photo/ionic.png" alt="Ionic" class="tool-icon">
                <span>Ionic</span>
            </div>
            <div class="tool-item">
                <img src="assets/photo/sprinboot.png" alt="Spring Boot" class="tool-icon">
                <span>Spring Boot</span>
            </div>
            <!-- Nuevo framework Laravel -->
            <div class="tool-item">
                <img src="assets/photo/laravel.png" alt="Laravel" class="tool-icon">
                <span>Laravel</span>
            </div>
            <!-- Nuevo framework React -->
            <div class="tool-item">
                <img src="assets/photo/react.png" alt="React" class="tool-icon">
                <span>React</span>
            </div>
        </div>
    </div>


        <div class="category">
            <h3>Sistemas Operativos</h3>
            <div class="tools-list">
                <div class="tool-item">
                    <img src="assets/photo/fedora.png" alt="Linux" class="tool-icon">
                    <span>Linux</span>
                </div>
                <div class="tool-item">
                    <img src="assets/photo/win.png" alt="Windows" class="tool-icon">
                    <span>Windows</span>
                </div>
                <div class="tool-item">
                    <img src="assets/photo/ubuntud.png" alt="Ubuntu" class="tool-icon">
                    <span>Ubuntu</span>
                </div>
            </div>
        </div>

        <div class="category">
            <h3>Otras Herramientas</h3>
            <div class="tools-list">
                <div class="tool-item">
                    <img src="assets/photo/word.png" alt="WordPress" class="tool-icon">
                    <span>WordPress</span>
                </div>
                <div class="tool-item">
                    <img src="assets/photo/git.png" alt="GitHub" class="tool-icon">
                    <span>GitHub</span>
                </div>
                <div class="tool-item">
                    <img src="assets/photo/adobe.png" alt="Adobe Photoshop" class="tool-icon">
                    <span>Adobe Photoshop</span>
                </div>
                <div class="tool-item">
                    <img src="assets/photo/premier.png" alt="Adobe Premiere" class="tool-icon">
                    <span>Adobe Premiere</span>
                </div>
            </div>
        </div>

        <div class="category">
            <h3>Tecnologías Adicionales de microsoft</h3>
            <div class="tools-list">
                <div class="tool-item">
                    <img src="assets/photo/sharepoint.png" alt="SharePoint" class="tool-icon">
                    <span>SharePoint</span>
                </div>
                <div class="tool-item">
                    <img src="assets/photo/powerautomate.png" alt="Power Automate" class="tool-icon">
                    <span>Power Automate</span>
                </div>
                <div class="tool-item">
                    <img src="assets/photo/powerapps.png" alt="Power Apps" class="tool-icon">
                    <span>Power Apps</span>
                </div>
            </div>
        </div>
        <div class="category">
            <h3>Conocimientos en mantenimiento de equipos y redes </h3>
            
        </div>
    </div>
</section>